In [3]:
import pandas as pd

### Create annotated books subset

In [ ]:
date1 = '250422'
date2 = '250415'
date3 = '250503'

In [4]:
books = pd.read_csv(f'../../newspaper_temp_files/random_sample_{date1}.csv', index_col=0)
books = books[['article_id', 'book_announce', 'comment']]
books = books[books['book_announce'].isin(['y', 'n'])]
books.shape

(724, 3)

In [5]:
feuills = pd.read_csv(f'../../newspaper_temp_files/feuilleton_annotation_{date2}.csv')
feuills = feuills[['article_id', 'is_book_announcement']]
feuills = feuills[feuills['is_book_announcement'].isin(['y'])]
feuills.shape

(86, 2)

In [8]:
feuills['article_id'].isin(books['article_id']).value_counts()

article_id
False    86
Name: count, dtype: int64

In [10]:
feuills = feuills.rename(columns={'is_book_announcement': 'book_announce'})

In [7]:
extra_gold = pd.read_csv('../../newspaper_temp_files/extra_gold.csv')
extra_gold.head()

   article_id book_announce
0  vib_100957             n
1  aal_077787             n
2  lol_064366             n
3  thi_038158             n
4  ode_193319             n

In [16]:
book_gold = pd.concat([books, feuills, extra_gold])
book_gold = book_gold.drop_duplicates(subset='article_id', keep='first')

In [17]:
book_gold['book_announce'].value_counts()

book_announce
n    622
y    281
Name: count, dtype: int64

In [18]:
book_gold.to_csv('../../newspaper_temp_files/annotated_books_gold_250503.csv')